%section.ten-oh-announcement
  .ten-oh-label
    %span 10.7
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              In this month’s release of GitLab 10.7, we've made Web IDE open source, added SAST for Go and C/C++, Deploy Tokens, and lots more!
            .btn-group
              %a.btn.cta-btn.ghost{href: "/2018/04/22/gitlab-10-7-released/"}
                See what’s new
