---
layout: default
title: GitLab for the enterprise
suppress_header: true
extra_css:
  - styles-2018.css
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 GitLab for the enterprise
        %h2 Join us live! Choose a date below.
    
  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p GitLab for the enterprise brings all the necessary tools for modern development into a single UI. In this demo, you'll get a first-hand look at how GitLab integrates version control, project management, code review, testing, and deployment to help enterprise teams move faster from planning to monitoring.
          
          .content-section
            %h3 We'll show GitLab's built-in: 
            %ul
              %li End-to-end workflow
              %li Code review tools  
              %li Continuous integration and deployment 
              %li Production monitoring

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1419
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1419, function(form) {
                  form.onSuccess(function() {
                      form.getFormElem().hide();
                      $('.confirmform').attr('style', 'visibility: visible');
                      return false;
                  });
              });
            .confirmation{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering! We look forward to showing you GitLab for enterprises.
