:markdown
  At GitLab, developers are highly independent and self-organized individual
  contributors who work together as a tight team in a [remote and agile](/2015/09/14/remote-agile-at-gitlab/) way.

  Most backend developers work on all aspects of GitLab, building features, fixing bugs, and generally improving the application.
  Some developers [specialize](#specialists) and focus on a specific area, such as packaging, performance or GitLab CI.
  Developers can specialize immediately after joining, or after some time, when they have gained familiarity with many areas of GitLab and find one they would like to focus on.
