---
layout: feature
title: Premium Support
description: GitLab's Premium Support feature, included in the GitLab Enterprise Edition Premium plan, lets you focus on building your product not on debugging your tools.
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Premium Support
        %h3#ci-subt Focus on building your product not on debugging your tools.
  .sub-wrapper
    .container

      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %ul
            %li
              The best tools are intuitive. Simply working as expected. But no tool is perfect. There
              will be a time when you'll need to troubleshoot. Premium Support gives your team a solution for all of your onboarding,
              upgrading, and troubleshooting needs.
            %li
              Premium Support is included in the GitLab Enterprise Edition Premium plan.
      %hr.divider/

      .row
        .col-md-3.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("premium-support")
        .col-xs-12.col-md-7
          %h2 What's included?
          %ul
            %li
              %b 4-hour support response time:
              Get the support you need. Our team of highly-skilled support engineers are available to help with all of your support needs.
            %li
              %b 24x7 emergency support:
              GitLab responds within 30 minutes to any emergency.
            %li
              %b Support for High Availability (HA):
              A Support Engineer will help you identify your specific HA needs and map out an architecture.
            %li
              %b Live upgrade assistance:
              Schedule an upgrade time with GitLab. We’ll join a live screen share to help you through the process
              to ensure there aren't any surprises.
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Benefits
          %ul
            %li
              %b Fast:
              Our average emergency response time is 30 minutes.
            %li
              %b Technical:
              Our Support Engineers have strong technical backgrounds and are well-versed on GitLab. They'll work with you to understand your unique challenge and
              find the best solution.
            %li
              %b Reliable:
              Our support team is spread out across the world. Regardless of your time zone someone will be available to help.
        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/

  = partial "includes/features/gitlab-ee-add-product", locals: { feature_name: "Premium Support" }
