---
layout: default
title: Package
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.package, solution_name: "package" }
