---
layout: default
title: Visiting GitLab
suppress_header: true
extra_css:
  - visiting.css
---

.wrapper
  .image-title
    .color-bg
      .header-text
        %h1
          VISITING <br>
          %b GitLab
        %p
          While our team members work remotely most of the time, we have a beautiful boardroom in the heart of San Francisco.
          %br/
          We'd love to have you visit!
      .container
  .sub-wrapper
    .container
      .row.maps
        .col-xs-1.col-md-1
        .col-xs-12.col-md-5
          %h2 Our Contact Information
          .tabbed-text
            If you'd like to contact us, or send us something,
            you can reach us at the following address:
            %br/
            %br/
            GitLab
            %br/
            268 Bush street #350
            %br/
            San Francisco,CA  94104
            %br/
            Unites States of America
            %br/
            %br/
      %hr.divider/
      .row.access
        .col-xs-6.col-md-1
        .col-xs-6.col-md-4.txt-middle.hidden-sm.hidden-xs
          = image_tag "/images/skyline-downtown-sf.png"
        .col-md-1.hidden-sm.hidden-xs
        .col-xs-12.col-md-6
          %h2 Visit our boardroom
          %ul
            If you'd like to visit us, we're happy to  host you at our boardroom.
            Please reach out to one of our EA's that can help you get set up with a meeting and give you the directions for our location.
      %hr.divider/
      .row.teamcall
        .col-xs-1.col-md-1
        .col-xs-12.col-md-5
          %h2 Team Calls
          .tabbed-text
            Since we all work remotely at GitLab, we use team video calls regularly (with more than 50 people on most days!).
            Mostly only our CEO and
            %a{href: "/team-pets"}Suzy
            are in the San Francisco boardroom.
        .col-md-4.hidden-sm.hidden-xs
          = image_tag "/images/teamcall.png"
        .col-xs-6.col-md-1
      %hr.divider/
      .row.access
        .col-xs-6.col-md-1
        .col-xs-6.col-md-4.txt-middle.hidden-sm.hidden-xs
          = image_tag "/images/about-page.png"
        .col-md-1.hidden-sm.hidden-xs
        .col-xs-12.col-md-6
          %h2 Questions from visitors
          %ul
            %li Most visitors have questions about our #{link_to "team size and distribution", "/team"}, how people are #{link_to 'spread among departments', "/team/chart/"}, our #{link_to "strategy", "/strategy/"}, and other things for which it helps to have a quick walk through through our #{link_to "handbook", "/handbook"} and general pages mentioned on our #{link_to "About page", "/about"}
        %hr.divider/
